body {
	background-color: #E8E8E8!important;
}

.search_btn {
	padding: 10px;
	background-color: #A8A7A7;
	border-radius: 10%;
}

.basket_btn {
	width: 35px;
	height: auto;
	margin: 0 2vw;
}

.search-nav,.nav-item {
	margin: 0 2vw;
}

.nav-link {
	color: #707070;
	font-weight: bold;
	padding: 4vh 1.5vw!important;
	border-bottom: 3px solid #f8f9fa;
}

.nav-link:hover {
	color: #D50EB4;
	border-bottom: 3px solid #D50EB4;
}

.content {
	display: flex;
}

.catagory {
	background-color: #f8f9fa;
	border-radius: 10%;
	padding: 1%;
	margin: 1%;
	justify-content: center;
}

.catagory span {
	color: #D50EB4;
	font-weight: bold;
	font-size: 14pt;
}


/* page-0 */

.homeimg {
	z-index: 20;
	
}

.home {
	bottom: 8%;
	left: 40%;
	display: flex;
	position: absolute;
	width:30%;

}




.hometext{
	z-index: 1;
	
	/* display: inline;
	justify-items: start; */
}

.home1{

	color: #ffffff;
	font-size: 8rem;
	z-index: 1;
	display: flex;
	justify-items: start;
	letter-spacing: 3rem;
}
.home2{
	padding-top: 10%;
	color: #000000;
	font-size: 5rem;
	display: flex;
	justify-items: start;
	z-index: 1;

}

.container .col-lg-12{
	height: 100%;


}


/* button */
.container .col-lg-12 button{
	display: flex;
	justify-items: start;
	align-self: end;
	z-index: 1;
	border-radius: 30px;
	font-weight: bold;

}



.section-1
{
	background: #000;
}