body {
	background-color: #E8E8E8!important;
}

.search_btn {
	padding: 10px;
	background-color: #A8A7A7;
	border-radius: 10%;
}

.basket_btn {
	width: 35px;
	height: auto;
	margin: 0 2vw;
}

.search-nav,.nav-item {
	margin: 0 2vw;
}

.navbar {
	background-color: white;
}

.nav-link {
	color: #707070;
	font-weight: bold;
	padding: 4vh 1.5vw!important;
	border-bottom: 3px solid white;
}

.nav-link:hover {
	color: #D50EB4;
	border-bottom: 3px solid #D50EB4;
}

.content {
	display: flex;
}

.catagory {
	background-color: white;
	padding: 1%;
	margin: 1% 1% 1% 0!important;
	border-radius: 10px;
	justify-content: center;
	height: fit-content;
}

.catagory span {
	color: #D50EB4;
	font-weight: bold;
	font-size: 14pt;
	text-align: center;
	display: block;
}

.catg-list {
	text-decoration: none;
	list-style-type: none!important;
	padding: 10px;
	margin: 0;
}

.catg-item {
	color: #A9A9A9;
	font-weight: bold;
}
.catg-item:hover {
	color: black;
	cursor: pointer;
}

.product {
	background-color: white;
	margin-top: 1%!important;
}

.preview {
	width: 80%;
	margin: 0 10%;
}

.inStock {
	color: green;
	font-weight: bold;
	text-align: end;
	width: 80%;
}

.outStock {
	color: red;
	font-weight: bold;
	text-align: end;
	width: 80%;
}

.addCart {
	display: flex;
    align-items: flex-end;
}

.addCart button {
	padding: 8px;
    border-radius: 5px;
    background-color: #C30DA4;
	color: white;
	border-style: none;
}

.addCart button:hover {
	background-color: #9A0B82;
}

#detail {
	padding: 5% 0
}

#name {
	font-size: 30pt;
}

#price {
	margin-top: 5%;
    font-size: 15pt;
    color: #C30DA4;
}

#desc {
	margin: 10% 5% 0 0;
}

#quantity {
	text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.slide-img {
    height: 100%;
	cursor: pointer!important;
}

.slider {
	position: relative;
	width: 100%;
	height: 100px;
	overflow: hidden;
}

.slider-inner {
	position: absolute;
	height: 100%;
	display: flex;
	pointer-events: none;
}

.slide-border {
	display: flex;
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
}